label {float: left; width: 49%; text-align: right; text-shadow: 1px 1px 0  white; font-weight: bold;font-size: 2em}
input {margin-left: 1%; margin-bottom: .8em; margin-top: 0; font-size: 2em;border: .1em solid black;    border-radius: 1em ;}
/*span {color: black; text-shadow: 1px 1px 0  white; font-style: oblique; font-size: 1.5em;}*/
textarea {margin-left: 1%; margin-bottom: .8em; margin-top: 0; font-size: 2em;border: .1em solid black;    border-radius: 1em ;}
